@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

:root {
  --main-color: #FFFF00;
  --second-color: #e6e600;
  --main-padding: 12px 14px;
}

body {
	font-family: 'Lato', sans-serif;
}

.btn-cta {
	background: var(--main-color);
	font-weight: bold;
	text-transform: uppercase;
	transition: all .5s ease-in-out;
}

.bg-utama {
	background: var(--main-color);
}

.hero-title {
	font-weight: bold;
}

.btn-cta:hover {
	background: #28a745;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
}

.navbar a{
	text-transform: uppercase;
	font-weight: 500;
	color: #ccc !important;
}

.navbar a:hover{
	text-transform: uppercase;
	font-weight: 500;
	color: black !important;
}

.navbar button.navbar-toggler:hover {
	color: var(--second-color) !important;
	background: var(--main-color) !important;
}

.navbar-nav .navbar-nav a{
	padding-right: 100px;
}

.banner .img-open {
	text-align: center;
}

.banner .img-open img {
	object-fit: cover;
	height: 200px;
}

#our-menu img{
	object-fit: cover;
	height: 200px;
	width: 100%;
}

#our-menu .title-menu {
	font-weight: bold;
	font-size: 18px;
}

#our-menu .desc-menu {
	font: 500;
	font-size: normal;
}

#team img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	object-fit: cover;
}